#my{
    background-color: red;
    background-image: linear-gradient(to right, #7ec6bc , #ebe717);
}

#myHead{
    border: 2px solid rgba( 0, 255, 255, 0.4);
    padding: 8px 36px;
    background: rgba(red, green, blue, alpha);
    width: 420px;
    border-radius:36px;
    margin-left: 380px;
}

#myLine{
    width: 80%;
    margin: 0 auto;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#myPicture{
    margin-left: 440px;
}

#myWord{
    margin-left: 520px
}

#id{
    text-align: center;
}

ul.breadcrumb{
    padding: 8px 16px;
    list-style: none;
    background-color: #eee;
    border-radius: 9px;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: green;
}

#lowBox{
    margin-left: 140px;
    margin-right: 140px;
}

#myLowHurdles{
    margin-left: 330px
}

img{
    border-radius: 30px;
    filter: blur(0.5) opacity(0.7);
}
